

# --- IDEs
# Qt creator files
*.pro.user*


# Pycharm
.idea


# --- C++ - Qt
# Build
*Makefile
.qmake.stash
debug/*


# --- Python
__pycache__


# --- Jupyter notebooks 
# Checkpoints
*.ipynb_checkpoints


